<h2>Por País</h2>
<hr>

<div class="row">
  <div class="col">
    <!-- SearckBox -->
    <shared-search-box
      [initialValue]="initialValue"
      (onDebounce)="searchByCountry($event)"
      placeholder="Buscar Por País"
    ></shared-search-box>
  </div>
</div>
<div class="row">
  <div class="col">
    <!-- Tablas de Resultados -->
    <hr>
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <countries-table [countries]="countries" ></countries-table>
  </div>
</div>
